* {
    box-sizing: border-box;
}
body {
    background: #62B1D0;
}
.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: #4711AE;
  border-radius: 30px; 
  box-shadow: 0 0 20px #2A0671;
}

.decor
.form-inner {
    padding: 50px;
}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}
.form-inner button {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: #3AA6D0;
  border: none;
  border-bottom: 4px solid #024C68;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.form-inner textarea {
    resize: none;
}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}

.left,.center,.right {
    width:33%; 
    height:100%; 
    float:left; 
    padding: 10px;
    overflow: scroll;
}

.block {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0 0 5px;
    padding: 10px;
    background-color: #024C68;
}

.top {
    width: 100%;
    border: 1px solid black;
    padding: 3px;
}

.top > h4{
    margin: 0;
    font-size: 20px;
    color: aquamarine;
}
.top > h5{
    margin: 0;
    font-size: 14px;
    color: aquamarine;
}
.top > h6{
    margin: 0;
    color: aquamarine;
}